:host {
    grid-area: header;
    border-bottom: solid var(--border-width) var(--color-main);
 
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
        'title image'
        'nav image';

    padding: 0 0 1rem 0;
}