.create-post > p {
    margin: 0;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 2rem 1fr;
}

.img-input-container {
    margin: 0 auto;
    width: 20rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
}

.img-input-container span {
    color: rgb(107, 107, 107);
    margin: 0 1rem 0 2px;
}