:host {
    grid-area: title;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    padding: 0 1rem 0.5rem 1rem;
    margin: 0;

    border-bottom: solid var(--border-width) var(--color-main);

    color: var(--color-main);
    font-family: var(--font-logo);
    font-size: 4.5rem;
    font-weight: lighter;
}