<div class="create-post">
    <p>não use se não for o dono do blog hein 🧐</p>
    
    <h2>Novo post</h2>

    <div class="form">
        <input [(ngModel)]="title" placeholder="Título" class="blog-input title-input" type="text">
    
        <div class="img-input-container">
            <span>Imagem: </span>
            <input (change)="handleImageInputChange($event)" type="file" placeholder="imagem">
        </div>

        <quill-editor (onContentChanged)="onContentChanged($event)"></quill-editor>

        <button class="blog-button">Salvar</button>
    </div>
</div>
