:host {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.select {
    flex-grow: 1;
    font-family: var(--font-title);
}

.new-name {
    flex-grow: 1;
}

button {
    width: 2rem;
}