:host {

    display: grid;
    grid-template-rows: 3rem 1fr 4rem;
    grid-template-columns: 1fr;
}

.filters {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 10% 20% 1fr;
    gap: 1rem;
}

.filters .order {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;
}

@media(max-width: 434px) {
    .filters {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'order' 'categories'
            ''      'name-search';
    }
}


.filters .order, .filters .categories {
    font-family: var(--font-title);
}

.filters .name-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
}

.posts {
    display: inline-grid;
    grid-template-rows: repeat(auto-fill, var(--post-item-height));
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

@media(max-width: 605px) {
    .posts {
        grid-template-columns: 1fr;
    }
}

.paginator {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 0.5rem;
}

.paginator button {
    width: 2rem;
}

.page-selected {
    border-bottom: solid var(--border-width) rgb(126, 126, 126);
}

/* avoiding default disabled styling */
.blog-button[disabled].page-selected {
    opacity: 1;
}

.page-unselected {
    color: var(--color-main);
    background-color: var(--color-background);
    border-bottom: solid var(--border-width) var(--color-main);
}