.app-wrapper {
    min-height: 100vh;
    max-width: 1111px;

    margin: 0 auto;
    padding: 1rem;

    background-color: var(--background-color);
}

.app {
    min-height: calc(100vh - 2rem); /* "smart" or horrible?  🧐*/
    width: 100%;

    padding: 1rem;

    border-left: solid var(--border-width) var(--main-color);
    border-right: solid var(--border-width) var(--main-color);

    display: grid;
    grid-template-rows: 16rem 5rem 1fr;
    grid-template-areas: 
        'header'
        'page-title'
        'content';
}

@media(max-width: 1080px) {
    .app {
        width: 80vw;
    }
}

@media(max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}