<div class="filters">
    <button (click)="toggleDirection()" class="order blog-button">
        Data 
        <span class="material-icons">
            {{params.direction === 'desc' ? 'arrow_downward' : 'arrow_upward'}}
        </span>
    </button>

    <select class="categories blog-button" name="" id="">
        <option value="">Filtrar por categoria...</option>
    </select>

    <div class="name-search">
        <input (keydown.enter)="fetchPosts()" [(ngModel)]="params.titleSearch" class="blog-input" type="text">
        <button (click)="fetchPosts()" class="blog-button material-icons">arrow_forward</button>
    </div>
</div>

<div class="posts">
    <app-post-item *ngFor="let post of posts" [post]="post"></app-post-item>
</div>