<div class="filters">
    <button (click)="toggleDirection()" class="order blog-button">
        Data 
        <span class="material-icons">
            {{params.direction === 'desc' ? 'arrow_downward' : 'arrow_upward'}}
        </span>
    </button>

    <select (change)="fetchPosts()" [(ngModel)]="params.category_id" class="categories blog-button">
        <option [value]="null">Categorias...</option>
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
    </select>

    <div class="name-search">
        <input (keydown.enter)="fetchPosts()" [(ngModel)]="params.titleSearch" class="blog-input" type="text">
        <button (click)="fetchPosts()" class="blog-button material-icons">arrow_forward</button>
    </div>
</div>

<div class="posts">
    <app-post-item *ngFor="let post of posts" [post]="post"></app-post-item>
</div>

<div class="paginator">
    <button (click)="addToPage(-1)" [disabled]="params.page <= 1" class="page-next blog-button material-icons">
        arrow_back
    </button>
    <button 
        *ngFor="let el of [].constructor(pageCount); let i = index"
        (click)="changePage(i + 1)"
        [class.page-selected]="params.page === i + 1"
        [class.page-unselected]="params.page !== i + 1"
        [disabled]="params.page === i + 1"
        class="blog-button page"
    >
        {{i + 1}}
    </button>
    <button (click)="addToPage(1)" [disabled]="params.page >= pageCount" class="page-next blog-button material-icons">
        arrow_forward
    </button>
</div>