:host {
    display: grid;
    grid-template-columns: 1fr 30% 28% 2rem;
    grid-template-rows: 2rem 2rem 37rem 2rem;
    grid-template-areas: 
        'title       image       image    private'
        'description description category category'
        'content     content     content  content'
        'save        save        save     save';
    gap: 1rem;
}

.title {
    grid-area: title;
}

.image {
    grid-area: image;
    font-family: var(--font-title);
}

.private {
    grid-area: private;
}

.description {
    grid-area: description;
}

app-category-select-create {
    grid-area: category;
}

.content {
    grid-area: content;
    border: solid var(--border-width) var(--color-main);    

    overflow: hidden;
}

.save {
    grid-area: save;
    font-family: var(--font-title);
}