@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@media(max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}
@media(max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.content > * {
    width: 100%;
}

.blog-input {
    border: solid 1px black;
    border-radius: 0px;
    outline: none;
}

.blog-button {
    border: solid 1px black;
    border-radius: 0px;
    outline: none;
    background-color: unset;
}

.blog-button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}