:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 2rem 1fr 2rem;
    grid-template-areas: 
        'title image'
        'description description'
        'content content'
        'save save';
    gap: 1rem;
}

.title {
    grid-area: title;
}

.image {
    grid-area: image;
    font-family: var(--font-title);
}

.description {
    grid-area: description;
}

.content {
    grid-area: content;
    border: solid var(--border-width) var(--color-main);
}

.save {
    grid-area: save;
    font-family: var(--font-title);
}