:host {
    display: grid;
    grid-template-columns: 1fr 30% 28%;
    grid-template-rows: 2rem 2rem 1fr 2rem;
    grid-template-areas: 
        'title       image       image'
        'description description category'
        'content     content     content'
        'save        save        save';
    gap: 1rem;
}

.title {
    grid-area: title;
}

.image {
    grid-area: image;
    font-family: var(--font-title);
}

.description {
    grid-area: description;
}

app-category-select-create {
    grid-area: category;
}

.content {
    grid-area: content;
    border: solid var(--border-width) var(--color-main);
}

.save {
    grid-area: save;
    font-family: var(--font-title);
}