:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 1fr 2rem;
    grid-template-areas: 
        'title image'
        'description description'
        'content content'
        'save save';
    gap: 2rem;
}

.title-input {
    grid-area: title;
}

.img-input-container {
    grid-area: image;

    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
}

.img-input-container span {
    color: rgb(107, 107, 107);
    margin: 0 1rem 0 2px;
}

ckeditor {
    grid-area: content;
}

.form button {
    grid-area: save;
}