
<input [(ngModel)]="post.title" placeholder="Título" type="text" class="blog-input title">

<button (click)="imageInput.click()" class="blog-button image">
    {{!uploadedImage ? 
        'Selecionar imagem...' :
        'Imagem selecionada: ' + uploadedImage.name}}
</button>
<input #imageInput (change)="handleImageInput($event)" type="file" accept="image/*" [hidden]="true">

<input [(ngModel)]="post.description" placeholder="Descrição" type="text" class="blog-input description">

<ckeditor [(ngModel)]="post.content" class="content"></ckeditor>

<button (click)="onSave()" class="blog-button save">Salvar</button>