
:host {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    grid-area: nav;
}

.nav-items {
    --width: 28rem;
    --height: 5.5rem;
    --gap: 0.5rem;
    
    --row-number: 2;
    --column-number: 2;

    --row-size: calc((var(--height) - calc(var(--gap) / 2 * var(--row-number))) / var(--row-number));
    --column-size: calc((var(--width) - calc(var(--gap) / 2 * var(--column-number))) / var(--column-number));

    min-width: var(--width);
    min-height: var(--height);

    display: grid;
    grid-template-rows: repeat(var(--row-number), var(--row-size));
    grid-template-columns: repeat(var(--column-number), var(--column-size));
    align-content: space-between;
    justify-content: space-between;
}

@media(max-width: 470px) {
    .nav-items {
        --width: 100%;
    }
}

.nav-items > a {
    height: auto;

    font-family: var(--font-title);
    font-size: 1.6rem;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}